In [1]:
import pandas as pd
import numpy as np

### Question 1

In [2]:
pd.__version__

'2.0.3'

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(url)

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
### Question 2

In [6]:
num_columns = df.shape[1]
print("Number of columns:", num_columns)

Number of columns: 10

In [7]:
### Question 3

In [8]:
total_rooms_has_missing_vlues = df['total_rooms'].isna().any()
total_beds_has_missing_vlues = df['total_bedrooms'].isna().any()

In [9]:
total_rooms_has_missing_vlues

False

In [10]:
total_beds_has_missing_vlues

True

In [11]:
### Question 4

In [12]:
unique_count = df['ocean_proximity'].nunique()
unique_count

5

In [13]:
### Question 5

In [14]:
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

In [15]:
### Question 6

In [16]:
df['total_bedrooms'].mean()

537.8705525375618

In [17]:
df['total_bedrooms'].fillna(df['total_bedrooms'].mean(), inplace=True)

In [18]:
df['total_bedrooms'].mean()

537.8705525375617

In [19]:
### Question 7

In [20]:
unique_values = df['ocean_proximity'].unique()
unique_values

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [21]:
g =  df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]
x = g.to_numpy()

In [22]:
XTX = np.dot(x.T, x)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [23]:
inverse_matrix = np.linalg.inv(XTX)
inverse_matrix
XTX_inverse = np.linalg.inv(XTX)

y = np.array([950, 1300, 800, 1000, 1300])

w = np.dot(np.dot(XTX_inverse, x.T), y)
w

array([23.12330961, -1.48124183,  5.69922946])